.main_promo {
  min-height: 550px;
  background-image: url(../assets/promo/services.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services {
  /* background-color: #404042; */
  color: #fff;
  padding: 60px 0px 20px;
}
.service_desc {
  padding: 20px;
  font-size: 26px;
  background-color: #6c67af;
}
@media screen and (max-width: 990px) {
  .service_desc {
    font-size: 18px;
  }
}
.service_items div {
  padding: 20px 15px;
  width: 330px;
  border: 0.5px solid #ccc;
}
.service_items div:nth-child(odd) {
  background-color: #404042;
  color: #fff;
}
